/projects/hgen/
/projects/test/dataset/
/projects/hgen_sort/
/projects/test/testDCGAN/runs/
/projects/test/testDCGAN/checkpoints/
/projects/test/test2/datasets/
/projects/test/test2/runs/
/projects/test/testProGAN/runs/
/projects/test/testWGAN/runs/
/projects/test/testProGAN/checkpoints/
